# MongoDB Configuration
MONGO_URI=mongodb://localhost:27017
DB_NAME=driving_license_db
COLLECTION_NAME=questions

# Optional: MongoDB Atlas connection string
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/driving_license_db?retryWrites=true&w=majority
